<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="false" debug="true">

  <appender name="PE-LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder><pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern></encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>${PE_LOGS_DIR}/pe-user-rest-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>64 MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <!-- "true" to safely log to the same file from multiple JVMs. Degrades performance! -->
    <prudent>false</prudent>
  </appender>

  <appender name="DATOMIC-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder><pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern></encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${PE_LOGS_DIR}/datomic-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>64 MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <prudent>false</prudent>
  </appender>

  <appender name="CATCHALL-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder><pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern></encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${PE_LOGS_DIR}/catchall-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>64 MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <prudent>false</prudent>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><pattern>%-5level %logger{36} - %msg%n</pattern></encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="CATCHALL-FILE" />
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="datomic" level="DEBUG">
    <appender-ref ref="DATOMIC-FILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="pe-user-rest" level="DEBUG">
    <appender-ref ref="PE-LOGFILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="pe-user-core" level="DEBUG">
    <appender-ref ref="PE-LOGFILE" />
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="pe-rest-utils" level="DEBUG">
    <appender-ref ref="PE-LOGFILE" />
    <appender-ref ref="STDOUT" />
  </logger>
</configuration>
